$navbar-height: 80px;

html, body{ height:100%; }

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    margin:0;

    text-shadow: 1px 1px rgba(255,255,255,.6);
}

.navbar{
    position: fixed;
    left:0;
    top:0;

    display: flex;
    align-items: center;
    flex: 1 100%;
    justify-content: space-between;

    background: green;
    width:100%;
    height: $navbar-height;

    color: white;

    div{
        margin: 1em;
        font-size: 1.2em;
    }
}

.app-content{
    margin-top: $navbar-height;
    padding-top: .5em;
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.module{
    background: #e3a0fd;
    padding: 1em;
    margin-top: 2em;
    border: 2px solid #8d58a2;
    border-radius: 4px;
    width: 300px;

    &.module-search{
        margin-left: auto;
        margin-right: auto;
        width: 60%;

        form{
            display: flex;
            align-items: center;
            justify-content: space-around;

            input{
                width: 80%;
                font-size: 2em;
                padding: .25em .5em;
                border: none;
                box-shadow: inset 0 0 10px 0 rgba(0,0,0,.5);
            }
        }
    }

    &.module-results{
        margin-left: auto;
        margin-right: auto;
        width: 60%;

        padding: 0;

        dl{
            margin: 0;

            dt{
                display: inline-block;
                font-weight: bold;

                &:after{
                    content: ":";
                }
            }

            dd{
                display: inline-block;
                margin: 0;
            }
        }
    }
}

.stripe{
    padding: .75em;

    &.stripe-header{
        background: rgb(243, 108, 205);
    }

    &.stripe-username{
        background: rgb(209, 163, 196);
    }

    &.stripe-password{
        background: rgb(246, 193, 232);
    }
}