<div>
    
    <div class="navbar">
        <div>
            <span class="icon icon-menu"></span>
            Onelove
        </div>
        <div>Credentials managar</div>
        <div>Hola Vaquita</div>
    </div>

    <div class="app-content">

        <div class="page-content">
            
            <div class="module">
                <header>
                    <h1>Agregar registro</h1>
                </header>
            </div>

            <div class="module">
                <header ng-click="navigate('search')">
                    <h1>Buscar registro</h1>
                </header>
            </div>

            <div class="module">
                <header>
                    <h1>Agregar usuario</h1>
                </header>
            </div>

            <div class="module">
                <header>
                    <h1>Modificar usuario</h1>
                </header>
            </div>
            
        </div>

    </div>

</div>