<div>
    
    <div class="navbar">
        <div>
            <span class="icon icon-menu"></span>
            Onelove
        </div>
        <div>Search</div>
        <div>Hola Vaquita</div>
    </div>

    <div class="app-content">

        <div class="module module-search">

            <form action="">
                <input type="text" placeholder="Buscar">
                <span class="icon icon-search"></span>
            </form>

        </div>

        <div>

            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>
            <ng-include src="'scripts/search/views/results.html'"></ng-include>

        </div>

    </div>

</div>